<h1>Listing user_sim_data</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sim_data.each do |user_sim_datum| %>
      <tr>
        <td><%= user_sim_datum.user_id %></td>
        <td><%= link_to 'Show', user_sim_datum %></td>
        <td><%= link_to 'Edit', edit_user_sim_datum_path(user_sim_datum) %></td>
        <td><%= link_to 'Destroy', user_sim_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User sim datum', new_user_sim_datum_path %>
