<h1> <%= @simulation.name %> </h1>

<% if !@simulation.excel_file.blank? %>
    <%= link_to 'Download', @simulation.excel_file.url %>
<% else %>
    File not available
<% end %>


<%= form_for(@user_sim_datum) do |f| %>
    <% if @user_sim_datum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_sim_datum.errors.count, "error") %> prohibited this user_sim_datum from being saved:</h2>

          <ul>
            <% @user_sim_datum.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :simulation_id, :value => @simulation.id %>

    <br>
    <label>Select Programme</label>
    <%= f.select :simulation_datum_id, @simulation_data.map { |u| ["#{u.programme_name} - #{u.start_time.strftime("%T")}", u.id] }, { include_blank: false }, { class: 'chosen-select' } %>


    <%= f.label :no_of_slots %>:
    <%= f.text_field :no_of_slots %><br />

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>


<% end %>