<!DOCTYPE html>
<html>
<head>
  <title>StarMediaSim</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <style>
    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: transparent;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: transparent;
        border-color: #428bca;
    }

    #error_explanation{
        width: 100%;
        border: none;
    }

    .field_with_errors{
        width: 100%;
    }

    /*.field_with_errors{*/
        /*border: 3px solid #c00;*/
        /*border-radius: 8px;*/
        /*display: table;*/
        /*padding: 0 0 1px 0;*/
    /*}*/
  </style>
</head>
<body>

    <nav class="navbar navbar-fixed-top header" role="navigation">
      <div class="navbar-inner" style="position: relative">
          <div class="container">
            <div class="navbar-header">
              <a href="#" class="brand" onclick="javascript:window.location.href='/'; return false;"><img src="/assets/logo.png" class="logo"></a>
            </div>
            <% if user_signed_in? %>
                <div class="name-block" style="overflow: hidden; position: absolute; right: 196px; top: 0.9%;">
                  <h3 style="color: #ffffff;">
                    Hello, <%= current_user.name rescue "" %>
                  </h3>
                </div>

                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a style="color: white; padding-top: 35%;" href="#" class="dropdown-toggle non-style-hover" data-toggle="dropdown" role="button" aria-expanded="false">
                      Options
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <%= link_to "Change your password", edit_user_registration_path %>
                      </li>
                      <li>
                        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                      </li>
                    </ul>
                  </li>
                </ul>
            <% end %>
          </div>
      </div>
    </nav>



    <div class="container">
      <div class="row row_style">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
