<!DOCTYPE html>
<html>
<head>
  <title>StarMediaSim</title>
  <%#= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!--<nav class="navbar navbar-fixed-top" role="navigation">-->
      <!--<div class="container-fluid">-->
        <!--<a href="#"><img src="/assets/toplogo.png" class="logo"></a>-->
        <!--<%# if user_signed_in? %>-->
            <!--<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>-->
        <!--<%# end %>-->
      <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--</nav>-->

    <div class="navbar navbar-fixed-top header" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"> <img src="/assets/toplogo.png" class="logo"></a>
          <!--<button class="btn logout_button" type="submit">Sign Out</button>-->
          <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn logout_button", :style => "font-size: 1.4em;" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row row_style">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!--<div class="row row_style">-->
            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-lg-offset-10">-->
              <!--<%# if user_signed_in? %>-->
                  <!--<%#= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-lg button_style", :style => "font-size: 1.4em; margin-top: 5%;" %>-->
              <!--<%# end %>-->
              <!--<%#= link_to 'Download',  @simulation.excel_file.url, :class=>"btn btn-lg button_style", :style => "font-size: 1.4em; margin-top: 5%; padding: 8%;" %>-->
            <!--</div>-->
          <!--</div>-->
            <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
